<app-banner></app-banner>
<mat-grid-list cols="6" rowHeight="2:2">
  <mat-grid-tile>
<a routerLink = "/product/itemInfo">
  <mat-card>
    <mat-card-actions >
  <img mat-card-sm-image src="assets/img/img_2.jpg" style="display: block;height: 100px; width: 100px;" >
  <mat-card-content>Iphone</mat-card-content>
  <mat-card-footer> price 65000</mat-card-footer>
</mat-card-actions>
</mat-card>
</a>
</mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img mat-card-sm-image src="assets/img/img_4.jpg" style="display: block;height: 100px; width: 100px;" >
    <mat-card-content>Iphone</mat-card-content>
    <mat-card-footer> price 65000</mat-card-footer>
  </mat-card>
</mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img mat-card-sm-image src="assets/img/img_3.jpg" style="display: block;height: 100px; width: 100px;" >
    <mat-card-content>Iphone</mat-card-content>
    <mat-card-footer> price 65000</mat-card-footer>
  </mat-card>
</mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img mat-card-sm-image src="assets/img/img_2.jpg" style="display: block;height: 100px; width: 100px;" >
    <mat-card-content>Iphone</mat-card-content>
    <mat-card-footer> price 65000</mat-card-footer>
  </mat-card>
</mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img mat-card-sm-image src="assets/img/img_2.jpg" style="display: block;height: 100px; width: 100px;" >
    <mat-card-content>Iphone</mat-card-content>
    <mat-card-footer> price 65000</mat-card-footer>
  </mat-card>
</mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img mat-card-sm-image src="assets/img/img_2.jpg" style="display: block;height: 100px; width: 100px;" >
    <mat-card-content>Iphone</mat-card-content>
    <mat-card-footer> price 65000</mat-card-footer>
  </mat-card>
</mat-grid-tile>
</mat-grid-list>
