<div class="mt-2">
    <app-banner></app-banner>
</div>
<div class="container-fluid mt-2">
    <div class="row mt-2 p-2">
        <div class="  col-md-12 d-flex col-lg-12 justify-content-between ">
            <div class="row gx-3  ">
                <div class="col-md-3 col-lg-4 sidenav">
                    <ul>
                        <li><a>Mobile</a></li>
                        <li><a>Clothe</a></li>
                        <li><a>Grosserry</a></li>
                    </ul>
                </div>
                <!--Product in one View-->
                <div class="col-md-8 col-lg-8 justify-content-center">
                    <div class="row gx-3  ">
                        <div appFirstDir *ngFor='let item of items' class="col-md-4 col-lg-4 mb-2 col-6 p-2 shadow  " (click)="product_detail(item.id)">
                            <!--image div-->
                            <div class="card  ">
                                <img [src]="item.imageUrl" class="img-thumbnail" onerror="this.src='assets/img/default.png'" alt="product_img">
                            </div>
                            <p class="mb-1">{{item.name}}</p>
                            <p class="mb-1">Rs<span>{{item.price }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<mat-grid-list cols="6" rowHeight="2:2" >
  <mat-grid-tile *ngFor ='let item of items'>

    <a routerLink = "/product/itemInfo">
  <mat-card (click) = "product_detail(item.id)">
    <mat-card-actions >
  <img mat-card-sm-image class = "thumbnail" [src] = "item.image" style="display: block;height: 100px; width: 100px;" >
  <mat-card-content>{{item.name}}</mat-card-content>
  <mat-card-footer> price {{item.price}}</mat-card-footer>
</mat-card-actions>
</mat-card>
</a>
</mat-grid-tile>
</mat-grid-list>-->