<mat-toolbar color="primary">
    <span>
    <a routerLink = "/">ShopZone</a>
  </span>
    <span class="space"></span>
    <ul>
        <li>
            <a mat-button routerLink="/cartItems" routerLinkActive="">
                <mat-icon matBadgeColor="accent" matBadge="{{cartBadge}}" svgIcon="shopping_cart"></mat-icon>
            </a>
        </li>
        <li>
            <a mat-button routerLink="/admin/header" routerLinkActive="mat-accent">Admin</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <a mat-button (click)="onLogout()" routerLinkActive="mat-accent">Logout</a>
        </li>
    </ul>
</mat-toolbar>
<!-- <nav>
    <div class="logo">
        <h1>
            <a routerLink="/">ShopZone</a>
        </h1>
    </div>
    <div class="menu">
        <span>
                <a routerLink="/cartItems" routerLinkActive="">
            <i class="fa fa-shopping-cart fa-2x"><span class="badge badge-danger"></span></i>
        </a>
        </span>
        <span>
                <a routerLink="/admin/header" routerLinkActive="">Admin</a>
        </span>
        <span *ngIf="!userIsAuthenticated">
                <a routerLink="/auth/signup" routerLinkActive="">SignUp</a>
        </span>
        <span *ngIf="!userIsAuthenticated">
                <a routerLink="/auth/login" routerLinkActive="">SignIn</a>
        </span>
        <span *ngIf="userIsAuthenticated">
                <a (click)="onLogout()" routerLinkActive="">SignOut</a>
        </span>
    </div>
</nav> -->