<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12-col-11">
            <!--cart image div-->
            <div class="row">
                <div class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow product_img">
                    <img [src]="item.imageUrl" alt="cart-image" class="img-fluid">
                </div>
                <!--Product detail div-->
                <div class="col-md-7 col-11 mx-auto mb-2 px-4">
                    <div class="row">
                        <div class="col-6 card-title">
                            <h1 class="mb-2">{{item.name}}</h1>
                            <p class="mb-2">{{item.specification}}</p>
                            <p class="mb-2">size M</p>
                        </div>
                        <!--quantity inc div-->
                        <div class="col-6 mt -2">
                            <!-- <div class="form-group d-flex justify-content-between col-8">
                                <select class="qty form-control" id="sel1" (change)="onSelectCategory($event.target.value)">
                                                <option value ="1">1</option>
                                                <option value ="2">2</option>
                                                <option value ="3">3</option>
                                                <option value ="4">4</option>
                                                <option value ="5">5</option>
                                        </select>
                            </div> -->
                            <ul class="pagination justify-content-end set_quantity">
                                <li class="page-item">
                                    <button class="page-link " (click)="decreaseNumber(item.price)"> <i class="fa fa-minus fa-2x"></i> </button>
                                </li>
                                <li class="page-item"><input type="text" name="" class="page-link" [value]="val" #textbox1>
                                </li>
                                <li class="page-item">
                                    <button class="page-link" (click)="increaseNumber(item.price )"> <i class="fa fa-plus fa-2x"></i></button>
                                    <!-- <button class="page-link" onclick="increaseNumber('textbox1','itemval1')"> <i class="fa fa-plus"></i></button> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--remove and price-->
                    <div class="row">
                        <div class="col-8 d-flex justify-content-between remove_wish">
                            <p (click)="removeItemFormCart(item.id)"> <i class="fa fa-trash" aria-hidden="true"></i>Remove item from cart</p>
                            <p> <i class="fa fa-heart" aria-hidden="true"></i>Move to Wishlist</p>
                        </div>
                        <div class="col-4 d-flex justify-content-end remove_wish">
                            <p><span #product_price>{{item.price | currency: 'INR'}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>