<div class="container-fluid">
  <div class="row mt-3 px-8 gy-3">
    <div class="col-md-12">
      <h2>Product to Deliverd</h2>
    </div>
  </div>
  <div class="row  gy-3">
    <div class="col-md-10 col-11 mx-auto justify-content-center shadow ">
      <div class="row  gy-3">
        <!--order first -div-->
        <div class="col-md-12 col-lg-12 py-3 mt-2 ">
            <div class="row">
            <!--image div -->
            <div class="col-md-6 col-11 shadow">
              <div class="card p-3">
                <img src="assets/img/img_2.jpg" alt="item_img" class="img-fluid">
              </div>
              </div>
            <div class="col-md-5 col-11 px-4">
              <div class="row p-3">
              <!-- address div -->
              <h2>Address</h2>
              <div class="col-11">
                <p>Address</p>
                <p>Address</p>
                <p>Address</p>
                <p>Address</p>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-6 d-flex justify-content-between">
                <p class="mb-2">Quantity</p>
                <p class="mb-2">price</p>
              </div>
              <div class="col-6 justify-content-end ">
                <p class="mb-2">Total product</p>
              </div>
            </div>
            </div>
          </div>
        </div>
        <hr>
        <!--Second order Here-->
        <div class="col-md-12 col-lg-12 py-3 ">
            <div class="row">
            <!--image div -->
            <div class="col-md-6 col-11 shadow">
              <div class="card p-3">
                <img src="assets/img/img_2.jpg" alt="item_img" class="img-fluid">
              </div>
              </div>
            <div class="col-md-5 col-11 px-4">
              <div class="row p-3">
              <!-- address div -->
              <h2>Address</h2>
              <div class="col-11">
                <p>Address</p>
                <p>Address</p>
                <p>Address</p>
                <p>Address</p>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-6 d-flex justify-content-between">
                <p class="mb-2">Quantity</p>
                <p class="mb-2">price</p>
              </div>
              <div class="col-6 justify-content-end ">
                <p class="mb-2">Total product</p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
