mat-form-field {
    width: 100%;
  }
  .image-preview {
    height: 5rem;
    margin: 1rem 0;
  }
  .card{
    border: none;
  }
  
  .image-preview img {
    height: 100%;
  }
  mat-spinner{
    margin: auto;
  }