<div class="container-fluid">
    <div class="row my-3 px-5">
        <h3 class="mb-2"> Add New Product </h3>
    </div>
    <div class="row mt-2">
        <div class="col-md-10 col-11 col-lg-12 mx-auto shadow">
            <div class="row p-2">
                <!--image div-->
                <div class="col-md-4 col-lg-4 col-11 shadow">
                    <div class="card mb-2">
                        <img [src]="imageUrl" class="thumbnail-image" onerror="this.src='assets/img/default.png'" alt="product_img">
                    </div>
                    <span class="mt-3"><button class="btn btn-lg btn-success" (click)="filePicker.click()">Upload Product Image</button></span>
                    <div *ngIf="uploadPercent | async as pct">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="pct | number">
                                {{pct | number}}%
                            </div>
                        </div>
                    </div>
                </div>
                <!--product info form -->
                <div class="col-md-6 col-lg-8 mt-3 col-11 mx-auto shadow">
                    <form [formGroup]='form' (ngSubmit)='productSave()'>
                        <div class="form-group d-flex justify-content-between col-8">
                            <label for="sel1">Select Category</label>
                            <select class="form-control" id="sel1" (change)="onSelectCategory($event)">
                                            <option [ngValue]="null" disabled>Select Category</option>
                                            <option *ngFor="let category of categories; let i = index" [value]="category.name">{{category.name}}</option>
                                    </select>
                        </div>
                        <div class="form-group d-flex justify-content-between col-8">
                            <label for="name">Product Title</label>
                            <input type="text" formControlName="name" placeholder="Product Name" required>
                        </div>
                        <div class="form-group d-flex justify-content-between  col-8">
                            <label for="name">Product Price</label>
                            <input type="text" formControlName="price" placeholder="Product Price" required>
                        </div>
                        <div class="form-group d-flex justify-content-between  col-8">
                            <label for="name">Product Quantity</label>
                            <input type="text" formControlName="quantity" placeholder="Product Quantity" required>
                        </div>
                        <div class="form-group d-flex justify-content-between  col-8">
                            <label for="name">Product Specification</label>
                            <input type="text" formControlName="specification" placeholder="Product specification" required>
                        </div>
                        <div class="form-group d-flex justify-content-between  col-8">
                            <input type="file" [hidden]=true #filePicker (change)="onImagePicked($event)">
                        </div>
                        <div class="form-group d-flex justify-content-between  col-8">
                            <label for="name">Product Description</label>
                            <textarea formControlName="description" placeholder="Product description" rows="5" required></textarea>
                        </div>
                        <div class="form-group d-flex justify-content-between  col-8">
                            <button class="btn btn-success" type="submit">Save</button>
                            <button class="btn btn-warning" (click)="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>