<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-10 col-11 mx-auto  justify-content center">
      <div class="row gx-3">
      <!--address div-->
      <div class="col-md-6   col-11 shadow">
        <form [formGroup] = "form" (ngSubmit) = "addressinfo()">
          <div class="col-12 justify-conten-between ">
            <label >Name</label>
          <input class=" form-control" type="text" formControlName="name" placeholder = "Enete Your Name" ngModel required>
          </div>
          <div class="col-12 justify-conten-between">
            <label >Mobile No.</label>
            <input class="form-control" type="text" formControlName="mobileNo" placeholder = "Enete Your Mobile no." ngModel required>
          </div>
          <div class="col-12 justify-conten-between">
            <label >Pincode</label>
            <input class="form-control" type="text" formControlName="pincode" placeholder = "Enete Your pincode" ngModel required>
          </div>
          <div class="col-12 justify-conten-between">
            <label >Nearest Landmark</label>
            <input class="form-control" type="text" formControlName="landmark" placeholder = "Enete Your Nearest Landmark" ngModel required>
          </div>
          <div class="col-12 justify-conten-between">
            <label >Galli Name / Mohalla Name.</label>
            <input class="form-control" type="text" formControlName="galli" placeholder = "Enete Your Galli Name / Mohalla Name." ngModel required>
          </div>
          <div class="col-12 mt-3 justify-conten-between">
            <button class="btn mb-3 btn-primary" type="submit">Save Address</button>
          </div>
        </form>
      </div>
        <div class="col-md-6 col-11 shadow ">
      <div *ngFor = "let item of items"  class="row">
            <div class=" col-6 mt-2  justify-content-center bg-light align-items-center">
              <!--image div-->
              <div class="card">
                <img [src]="item.imageUrl" alt="product_img" class="thumbnail-image" onerror ="this.src='assets/img/default.png'">
              </div>
              <!--Product detail div-->
            </div>
          <div class="col-md-6 p-2">
          <div class="col-6 py-2">
            <div class = "row">
              <h4 class="mb-2">{{item.name}}</h4>
              </div>
              <div class = "row">
                <div class="col-6 mb-2 d-flex justify-content-between">
                <p class="mb-2">Total Quantity: {{item.quantity}}</p>&nbsp;
                <p class="mb-2">Total Price: {{item.price}}</p>
              </div>
            </div>          
        </div>
          </div>
      </div>
      <!--second item-->
      <div class="row">
            <div class=" col-6 mt-2  justify-content-center bg-light align-items-center">
              <!--image div-->
              <div class="card">
                <img src="" alt="product_img" class="thumbnail-image" onerror ="this.src='assets/img/default.png'">
              </div>
              <!--Product detail div-->
            </div>
          <div class="col-md-6 p-2">
          <div class="col-6 py-2">
            <div class = "row">
              <h4 class="mb-2">name</h4>
              </div>
              <div class = "row">
                <div class="col-6 mb-2 d-flex justify-content-between">
                <p class="mb-2">quantity</p>
                <p class="mb-2">price</p>
              </div>
            </div>          
        </div>
          </div>
      </div>
    </div>
    <!--Payment div-->

    </div>
  </div>
</div>