<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-10 col-11 mx-auto  justify-content center">
      <div class="row gx-3">
      <!--address div-->
      <div class="col-md-6   col-11 shadow">
        <form [formGroup] = "form" (ngSubmit) = "addressinfo()">
          <div class="col-12 justify-conten-between ">
            <label >Name</label>
          <input class=" form-control" type="text" formControlName="name" placeholder = "Enete Your Name" ngModel required>
          </div>
          <div class="col-12 justify-conten-between">
            <label >Mobile No.</label>
            <input class="form-control" type="text" formControlName="mobileNo" placeholder = "Enete Your Mobile no." ngModel required>
          </div>
          <div class="col-12 justify-conten-between">
            <label >Pincode</label>
            <input class="form-control" type="text" formControlName="pincode" placeholder = "Enete Your pincode" ngModel required>
          </div>
          <div class="col-12 justify-conten-between">
            <label >Nearest Landmark</label>
            <input class="form-control" type="text" formControlName="landmark" placeholder = "Enete Your Nearest Landmark" ngModel required>
          </div>
          <div class="col-12 justify-conten-between">
            <label >Galli Name / Mohalla Name.</label>
            <input class="form-control" type="text" formControlName="galli" placeholder = "Enete Your Galli Name / Mohalla Name." ngModel required>
          </div>
          <div class="col-12 mt-3 justify-conten-between">
            <button class="btn mb-3 btn-primary" type="submit">Save Address</button>
          </div>
        </form>
      </div>
    </div>
    <!--Payment div-->
      <div class="col-md-6 col-11 shadow ">
        <form [formGroup] = 'form'(ngSubmit) = "paymentMethode()">
          <div class="col-12 justify-conten-between ">
            <label >Select Payment Mode</label>
          <input class="form-control" type="radio" formControlName="payMpde" ngModel required>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>