<mat-toolbar color = 'white'>
<ul>
<li><a mat-button routerLink = "/admin/itemList" routerLinkActive = "mat-accent">All Items</a>  </li>
<li><a mat-button routerLink = "/admin/addItem" routerLinkActive = "mat-accent">Add New Item</a>  </li>
<li><a mat-button routerLink = "/admin/orders" routerLinkActive = "mat-accent">All Orders</a>  </li>
<li><a mat-button routerLink = "/admin/users" routerLinkActive = "mat-accent"> All Users</a> </li>
<li><a mat-button routerLink = "/admin/banner" routerLinkActive = "mat-accent">Update Banners</a> </li>
</ul>
</mat-toolbar>